.features {
  &__card {
    &-list {
      display: flex;
      text-align: center;
    }
    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: calc(100% / 3);
      min-height: 190px;
    }
    &-img {
      margin-bottom: var(--standart-margin-y);
    }
  }
}